<div class="container cart-container">
  <div *ngIf="cartItems().items.length <= 0">
  <img src="https://i.ibb.co/nM0yqb3/Bookstore-1.png" alt="Bookstore-1" border="0">  
    <p class="text-center">
      <a class="navbar-brand" routerLink="">Shop now</a>

    </p>
</div>
  

  <div *ngIf="cartItems().items.length > 0">
    <!-- <p>Name: {{cartItem.name}} - Price: {{cartItem.price}}</p> -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Qty</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cartItem of cartItems().items; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ cartItem.name }}</td>
          <td>{{ cartItem.price }}</td>
          <td></td>
          <td><button class="btn btn-danger" (click)="removeFromCart(cartItem)">Remove</button></td>
        </tr>
      </tbody>
    </table>
   <div class="totalSection">
    Total: {{ cartItems().total }}
   </div>
  </div>
